﻿<%@ Page Title="Home Page" Language="C#" AutoEventWireup="true" ErrorPage="~/customError.aspx"
    CodeBehind="LoggingRouter.aspx.cs" Inherits="proxyserver._Default2" %>
<%  

    /*Gathering parameters from url route*/
    string logtype = Page.RouteData.Values["logtype"] as string;
    string content = null;
    
    try
    {
        content = Request.QueryString.Get("c");

    }
    catch (Exception e)
    {
        
        throw new Exception("c (content) parameter is empty", e);
    }    
    
    /*Testing*/
    if (!String.IsNullOrEmpty(content) && !String.IsNullOrEmpty(logtype))
    {
        try{
            //proxyserver.StaticData.dbInsert("OK", 200, Request, logtype, "log", content);
            Response.Write("OK");

        }
        catch (Exception e)
        {
            Response.Write("error:" + e.Message + ":");
            //proxyserver.StaticData.dbInsert(e.Message, 500, Request, "-", "log", "error");

        }     
    }   
        
   
      
%>